.fields {
  box-sizing: border-box;
  padding: 5px;
  max-width: 350px;
  color: $black;
  background-color: $light-grey;
  flex-grow: 1;
  height: 550px;

  display: flex;
  flex-direction: column;
}

.field {
  box-sizing: border-box;
  margin-bottom: $gutter;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    width: 100%;
  }
  input {
    width: 85%;
  }
  img {
    width: 20px;
    height: 20px;
    margin: $gutter;
  }
}