.preview {
  box-sizing: border-box;
  color: $black;
  background-color: $white;
  flex-grow: 5;
  height: 550px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-top: 5px solid $white;
  border-left: 5px solid $white;

  position: relative;

  .title, .artist {
    position: absolute;
    cursor: move;
    user-select: none;
    margin: 0;
    padding: 0;
  }

  .title {
    z-index: 3;
    top: 310px;
    left: 155px;
  }
  .artist {
    z-index: 2;
    top: 15px;
    left: 40px;
  }

  .title:hover, .artist:hover {
    background-color: lighten($light-grey, 5%);
  }

  .artwork {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 540px;
    max-height: 540px;
  }
}
