$white: #ffffff;
$black: #232323;
$light-grey: lighten($black, 70%);
$dark-grey: lighten($black, 15%);

$font-stack: Arial, Helvetica, sans-serif;
$font-stack-headings: "Arial Black", Helvetica, sans-serif;

$gutter: 5px;