@import "./stylesheets/variables";

body {
  color: $white;
  background-color: $black;
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $font-stack-headings;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  .bar {
    align-self: flex-end;
    flex-basis: 100%;
    background-color: $dark-grey;
  }
}

.preview {
  color: $black;
  background-color: $white;
  flex-grow: 4;
}

.fields {
  color: $black;
  background-color: $light-grey;
  flex-grow: 1;
}
