@import "./stylesheets/variables";

body {
  color: $black;
  background-color: $white;
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $font-stack-headings;
}
